/*
CSS sheet for Chess Minigame
Joshua Rogers
CSCI 225 Final Project

01 color
02 layout
03 font
04 other decoration
*/

/*01 Color*/
#chessBoard {
    background-color: gray;
}
.chessPiece{
    background: transparent;
}
.chessPiece-selected{
    background-color: yellow;
}
.chessPiece-move{
    background-color: aqua;
}
.chessPiece-capture{
    background-color: red;
}
td[name="light"]{
    background-color: #deb887;
}
td[name="dark"]{
    background-color: #8b4513;
}
#moves{
    background-color: darksalmon;
    opacity: 70%;
}
body{
    background-color: gray;
}
.colorPicker{
    background-color: aqua;
}

/*02 layout*/
.colorPicker{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 40%;
    width: 20%;
}
#lightColor , #darkColor{
    height: 50px;
}
.chessBoard{
    text-align: center;
}
.topButton{
    width: 100px;
    height: 25px;
}
#chessBoard {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 15px solid black;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 960px;
    height: 960px;
}
#chessBoard tr,
td {
    height: 120px;
    width: 120px;
    padding: 0;
    margin: 0;
}
.chessPiece , .chessPiece-selected , .chessPiece-move{
    width: 116px;
    height: 116px;
    border: 0;
    padding: 0;
    margin: 0;

}
.scoreboard{
    position: absolute;
    right: 0;
    text-align: right;
    top: 100px;
    margin: 20px;
}
#moves{
    border-collapse: collapse;
}
#moves tr,#moves td, #moves th{
    border: black solid 1px;
    padding: 2px;
    width: 100px;
    text-align: center;
    height: auto;
}

h1{
    position:relative;   
    left: 42.5%;
    width: 15%;
}