/*
01 Color
02 Layout
03 Font
04 Other
*/

/*01 Color*/
body {
  background-image: url('../img/BottleBG.png');
}
.gameDisplay {
  background-color: cyan;
}
.gameDisplay div {
  background-color: blue;
}
.navigation {
  background-color: rgb(48, 64, 205);
  outline: 7px solid rgb(143, 63, 218);
}
body h1 :nth-child(1) {
  background-color: rgb(221, 220, 238);
}
div.brandon,
div.josh,
div.timothy {
  background-color: rgb(221, 220, 238);
}
.contactForm {
  background-color: white;
}
/*02 Layout*/

.hide {
  visibility: hidden;
}
.navigation {
  position: fixed;
  top: 0;
  width: 40%;
  height: 50px;
  margin-bottom: 50px;
  z-index: 99;
}
.navbar {
  text-align: center;
  padding-inline-start: 0px;
  height: 40px;
  margin: 0;
  margin-top: 5px;
}
.navbar li {
  display: inline;
  height: 50px;
}
.navbar button,
.navbar select {
  width: 24%;
  height: 100%;
}
.gameDisplay {
  position: absolute;
  top: 100px;
}
.gameDisplay div {
  display: inline-block;
  height: 450px;
  width: 450px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.gameDisplay img {
  text-align: center;
  width: 360px;
  height: 360px;
  margin: 20px;
  margin-top: 0;
}
.bioContainer {
  position: absolute;
  top: 50px;
}
.bioContainer h1 {
  text-align: center;
}
div.brandon,
div.josh,
div.timothy {
  width: 750px;
  height: 250px;
}
.contactForm {
  position: absolute;
  top: 100px;
}
/*03 Font*/
.gameDisplay div {
  color: white;
}
/*04 Other*/
ul {
  list-style: none;
}
