/* For getting Fancy with a scrollin background
.scrolling-image-container {
  overflow: hidden;
}

.scrolling-image {
  background: url("../img/BluePotionBG.png") repeat-x;
  height: 763px;
  width: 1049088px;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1366px); 
  }
}

.scrolling-image {
  background: url("../img/BluePotionBG.png") repeat-x;
  height: 763px;
  width: 1049088px;
  animation: slide 30s linear infinite;
}
*/


  .gameDisplay img {/*I don't see images with what I am using to code so I don't know what this looks like. I need to eventually use something different so I can test with this. Feel free to fix stupid changes I've made that don't work with this*/
    text-align: center;
    width: 360px;
    height: 360px;
    margin: 20px;
    margin-top: 0;
  }

  body h1 :nth-child(1),
  .bioContainer div {
    background-color: rgb(221, 220, 238);
    width: 750px;
    height: 250px;
    margin: 5px;
    outline: 5px solid rgb(221, 220, 238);
  }
  
  .hide{ /* For any element with the 'hide' property */
    display: none;
  }

  .remaining_coins{
    position: absolute;
    top: 90px;
  }

  #rules{
    background-color: royalblue;
    border: 2px solid;
    border-color: black;
    width: 320px;
    text-align: center;
    position: fixed;
    font-size: larger;
    font-style: italic;
    left: 40%;
  }

.takeCoin {
  position: fixed;
  left: 41.5%;
  top: 5%;
}

  #playerTurn{
    width: 220px;
    text-align: center;
    border: 5px solid;
    border-color: royalblue;
  }

  .stats{
    position: relative;
    float: right;
    background-color: royalblue;
  }

  table, td, th{
    border: 2px solid;
    text-align: center;
  }

