body {
    background-image: url('../img/BottleBG.png');
  }
  .gameDisplay img {/*I don't see images with what I am using to code so I don't know what this looks like. I need to eventually use something different so I can test with this. Feel free to fix stupid changes I've made that don't work with this*/
    text-align: center;
    width: 360px;
    height: 360px;
    margin: 20px;
    margin-top: 0;
  }
  .bioContainer {
    position: absolute;
    top: 60px;
  }
  .bioContainer h1 {
    text-align: center;
  }
  body h1 :nth-child(1),
  .bioContainer div {
    background-color: rgb(221, 220, 238);
    width: 750px;
    height: 250px;
    margin: 5px;
    outline: 5px solid rgb(221, 220, 238);
  }
  .contactForm {
    background-color: white;
    position: absolute;
    top: 105px;
  }
  
  .hide{ /* For any element with the 'hide' property */
    display: none;
  }

  .remaining_coins{
    position: absolute;
    top: 90px;
  }

  #rules{
    background-color: royalblue;
    width: 320px;
    text-align: center;
    position: fixed;
    font-size: larger;
    font-style: italic;
    left: 40%;
  }

.takeCoin {
  position: fixed;
  left: 41.5%;
  top: 5%;
}

  #playerTurn{
    width: 220px;
    text-align: center;
  }