body{
    background-image: url("../img/BottleBG.png");
}

body h1 :nth-child(1){
    background-color: rgb(221, 220, 238);
}

div.brandon{
    background-color: rgb(221, 220, 238);
    width: 750px;
    height: 250px;
}

div.josh{
    background-color: rgb(221, 220, 238);
    width: 750px;
    height: 250px;
}

div.timothy{
    background-color: rgb(221, 220, 238);
    width: 750px;
    height: 250px;
}


div.navigation{
    background-color: rgb(221, 220, 238);
    width: 750px;
}